td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item_name {
    max-width: 1300px;
    text-align: center;
}

.item_price {
    max-width: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: underline;
}
